# C / C++
*.o
*.obj
*.out
*.exe
*.a
*.so
*.dll
*.dylib
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
Makefile
*.sln
*.vcxproj
*.vcxproj.filters

# Java / Maven
target/
*.class
*.jar

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
.vs/
*.iml
*.user
*.suo

# Logs

*.log

# OS
.DS_Store
Thumbs.db